/* Write your code here. */
* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

.bg_container {
  background-image: url("https://assets.ccbp.in/frontend/react-js/congrats-card-bg.png");
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.heading {
  color: #0f172a;
  font-family: "Roboto";
}
.card_container {
  background-color: #cffafe;
  text-align: center;
  padding: 15px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.man_image {
  width: 100px;
}
.name {
  font-size: 20px;
  color: #1e293b;
}
.para {
  font-size: 18px;
  color: #1e293b;
  font-family: "Roboto";
}
.watch_image {
  width: 100px;
  height: 150px;
}
@media screen and (min-width: 768px) {
  .heading {
    font-size: 32px;
  }
  .man_image {
    width: 180px;
  }
  .watch_image {
    width: 180px;
  }
}
